*{
padding: 0;
margin: 0;
box-sizing: border-box;
font-family: sans-serif;
}
.container{
    margin: 10rem auto;
    width: 90%;
    height: 100%;
    position:relative;
    display: flex;
    justify-content:center;
}
.container #form-information{
    background-color: aliceblue;
    padding: 15px;
    border-radius: 8px;
    width: 70%;
    border:1px solid #ddd;
}
.form-group .form{
    margin: 10px 0;
}
.form-label{   
    /* padding-top: 0px; */
    font-size: .85rem;
    color: #333;
}
.container .form-input{
    width: 100%;
    padding: 5px 10px;
    margin:5px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 12px;
    outline:none ;
}
.error-message {
    color:red;
    font-size: 12px;
    display: none;
 
}
.container .form-group .form-pass{
    margin-top: 5px;
    display:flex;
    align-items:center;
    background-color: white;
    border-radius: 4px;
    border:1px solid #ccc;

   
}
.container .form-group .password{
    margin: 0;
    outline:none;
    border:none;
    width: 95%;
    background:none;
}
.container .form-group i{
    width: 5%;
    font-size: 12px;
}
.container .form-group .btn-submit{
margin-top: .7rem;
padding: 5px 10px;
color: #fff;
background-color: cadetblue;
border: none;
border-radius: 5px;
font-size: 14px;
width: 100%;
cursor:pointer;
letter-spacing: 3px;
}

